beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
coinmarketcap==5.0.1
html5lib==1.0.1
idna==2.6
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
urllib3==1.24.2
webencodings==0.5.1
